<div class="container-fluid profile">
    <div class="row pt-2 mb-2">
        <div class="col-12 mb-2">
            <mat-card class="card-profile">
                <mat-card-content>
                    <div class="row">
                        <div class="col-12 text-center mb-2 pb-3 ">
                            <img style="height:70px;" src="https://clipground.com/images/profile-logo-3.png">
                            <div class="fw-bold" style="font-size: 20px;">Forgot Password</div>
                        </div>
                        <div class="form-group text-center">
                        <div class="col-12 mb-2">
                            <mat-form-field class="full-form mt-3" appearance="outline">
                                <mat-label>Enter your Email</mat-label>
                                <mat-icon matPrefix><i class="material-icons">email</i></mat-icon>
                                <input matInput [formControl]="email" placeholder="" required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        </div>
                        <div class="col-12 text-center mb">
                            <button mat-raised-button  style="background-color: rgb(247, 159, 58);">Submit</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

