<div class="container-fluid home pt-5">
    <div class="row pt-5">
        <div class="col-md-6">
            <h1 class="heading pb-3">Your personal <br> <br> data analytics</h1>
            <h3 class="fw-normal subheading">Harness the potential with Big Data Analytics & cloud <br> service and become a data driven organization with <br> Needle tail</h3>
            <button mat-raised-button  style="background-color: rgb(247, 159, 58);" class="button" (click)="login()">Login</button>
            <button mat-raised-button  style="background-color: rgb(247, 159, 58);" class="button" (click)="register()">Register</button>
        </div>
        <div class="col-md-6">
            <img src="https://img.freepik.com/free-vector/data-inform-illustration-concept_114360-864.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706400000&semt=ais" class="image" alt="image">
        </div>
    </div> 
</div>